* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --first-color: rgb(250, 67, 6);
  --second-color: rgb(190, 210, 197);
  --hover-color: rgb(250, 67, 6);
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif;
  background-color: #333;
}

.wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 50px;
  width: 800px;
  background-image: radial-gradient(circle, #2b2c2e 0%, #191919 93%);
  border-radius: 8px;
  -webkit-box-shadow: 5px 5px 10px #000;
          box-shadow: 5px 5px 10px #000;
  color: #fff;
  overflow: hidden;
}

.info i {
  position: absolute;
  top: 6px;
  padding: 20px;
  font-size: 24px;
  color: var(--second-color);
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  cursor: pointer;
}

.info i:hover {
  color: var(--first-color);
}

.info .fa-question {
  right: 14px;
}

.info .fa-palette {
  right: 60px;
}

.colors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  position: absolute;
  right: -100px;
  height: 250px;
  width: 50px;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

.colors .color {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
  -webkit-transition: background-color .3s, -webkit-box-shadow .3s;
  transition: background-color .3s, -webkit-box-shadow .3s;
  transition: background-color .3s, box-shadow .3s;
  transition: background-color .3s, box-shadow .3s, -webkit-box-shadow .3s;
}

.colors .red {
  background-color: rgb(250, 67, 6);
  -webkit-box-shadow: 0 0 8px rgb(250, 67, 6);
          box-shadow: 0 0 8px rgb(250, 67, 6);
}

.colors .red:hover {
  background-color: rgb(168, 48, 9);
  -webkit-box-shadow: 0 0 16px #a83009;
          box-shadow: 0 0 16px #a83009;
}

.colors .blue {
  background-color: rgb(29, 106, 205);
  -webkit-box-shadow: 0 0 8px #1d6acd;
          box-shadow: 0 0 8px #1d6acd;
}

.colors .blue:hover {
  background-color: rgb(12, 63, 130);
  -webkit-box-shadow: 0 0 16px #0c3f82;
          box-shadow: 0 0 16px #0c3f82;
}

.colors .green {
  background-color: rgb(59, 200, 44);
  -webkit-box-shadow: 0 0 8px #3bc82c;
          box-shadow: 0 0 8px #3bc82c;
}

.colors .green:hover {
  background-color: rgb(17, 116, 6);
  -webkit-box-shadow: 0 0 16px #117406;
          box-shadow: 0 0 16px #117406;
}

.show-colors {
  -webkit-transform: translateX(-110px);
          transform: translateX(-110px);
}

h1 {
  margin-bottom: 20px;
  font-size: 60px;
  font-weight: lighter;
}

.stopwatch {
  font-size: 72px;
  color: var(--first-color);
}

.time {
  visibility: hidden;
  color: var(--second-color);
  font-size: 22px;
  margin-top: 10px;
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 30px;
}

.buttons button {
  margin: 10px;
  padding: 10px 20px;
  width: 20%;
  color: #fff;
  font-size: 22px;
  background-color: transparent;
  border: 1px solid var(--first-color);
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.buttons button:hover, .buttons button:focus {
  background-color: var(--first-color);
  outline: none;
}

.buttons .history {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-transform: uppercase;
}

.time-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 300px;
  font-size: 22px;
  color: var(--second-color);
}

span {
  font-weight: bold;
}

.modal-shadow {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.65);
}

.modal-shadow .modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 600px;
  height: 360px;
  padding: 30px 60px;
  border-radius: 15px;
  background-color: rgb(49, 49, 49);
  color: #fff;
}

.modal .fas, .modal strong {
color: var(--first-color);
}

.modal-shadow h3 {
  margin-bottom: 20px;
  font-size: 30px;
}

.modal-shadow p {
  margin-bottom: 10px;
  margin-left: 20px;
  font-size: 20px;
}

.modal-shadow .close {
  display: block;
  margin: 40px auto 0;
  width: 200px;
  padding: 10px 20px;
  color: #fff;
  font-size: 22px;
  border: 1px solid var(--first-color);
  border-radius: 5px;
  background-color: var(--first-color);
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  cursor: pointer;
}

.modal-shadow .close:hover {
  background-color: var(--hover-color);
}

.modal-animation {
  -webkit-animation: show-modal 0.5s;
          animation: show-modal 0.5s;
}

@-webkit-keyframes show-modal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes show-modal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*# sourceMappingURL=main.css.map */